.ui.grid.home-container {
  padding: 15rem 0 5rem;

  p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 2rem;
  }

  .back-to-top {
    display: inline-block;
    text-align: center;
    background-color: rgb(130, 130, 130);
    color: white;
    height: 30px;
    width: 30px;
    position: fixed;
    border-radius: 50%;
    bottom: 50px;
    left: 50%;
    animation: bounce 0.8s linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    backface-visibility: hidden;

    i {
      line-height: 30px;
      margin-top: 3px;
      margin-left: 5px;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(-1px);
    }

    50% {
      transform: translateY(1px);
    }

    100% {
      transform: translate(0);
    }
  }

  .back-to-top:hover {
    background-color: white;
    border: 1px solid rgb(130, 130, 130);
    color: rgb(130, 130, 130);
  }
}