.theteam-container {
  padding-top: 80px !important;
  position: relative;

  .arrow {
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}