@import '../../../partials/variables';

.nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  padding: 1em 2em;
  text-align: right;
  transition: .4s ease;
  z-index: 3;
  background-color: white;

  .ui.list.link {
    
    a.item {
      color: $color-primary !important;
      font-weight: 500;
      padding: 11px;

      &.active {
        font-weight: 800;
      }
    }
  }

  

  .ui.mobile-navitems {

    .icon {
      cursor: pointer;
      color: $color-primary;
    }

    .mobile-logo {
      position: absolute;
      transform: translate(-40%, -55%);
    }
  }

  &.fixed-nav {
    position: fixed;
  }

  .logo-link {
    position: absolute;
    left: 15px;
    height: 100%;
    width: 220px;
    z-index: 2;
  }

  .logo {
    position: absolute;
    left: 20px;
    z-index: -1;

    .logo-icon {
      width: 220px;
      transform: translate(-20px, -39px);
    }
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 30px 1em;
    padding-right: 1em;
    text-align: left;

    .item {

        a {
        color: $color-secondary !important;
        font-weight: 500;
      }

      &.active {

        a {
          font-weight: 800;
        }
      }
    }
    
  }
}